/* ===========================
   Center the Tabs
=========================== */

.stTabs [data-baseweb="tab-list"] {
    justify-content: center;
    gap: 25px;
}

/* ===========================
   Tab Text
=========================== */

.stTabs [data-baseweb="tab"] {
    font-size: 24px;
    font-weight: 700;
    padding: 15px 30px;
}

/* ===========================
   Selected Tab
=========================== */

.stTabs [aria-selected="true"] {
    color: #FF4B4B;
    border-bottom: 3px solid #FF4B4B;
}

/* Hide Streamlit Sidebar */
section[data-testid="stSidebar"] {
    display: none;
}

/* Expand the main content to full width */
[data-testid="stAppViewContainer"] {
    margin-left: 0;
}